<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<style type="text/css">
			table{border-collapse:collapse; width:80%; margin:2px auto }
			th, td {border: 1px solid #444; padding: 1px 2px; text-align: center}
			th {background-color: #f2f2f2}
		</style>		
	</head>
	<body>
		<h1>Home Page</h1>
		<hr />
		<h2>Hello, <span>User</span></h2>
		<div><img src=""></div>
		<hr />
		<div>
			<a href="">Prev</a> | Page | <a href="">Next</a>
		</div>	
		<table>
			<thead>
				<th>ID</th>
				<th>Name</th>
				<th>Tel</th>
				<th>Address</th>
			</thead>
			<tbody>
				<tr>
					<td>123</td>
					<td>123</td>
					<td>123</td>
					<td>123</td>
				</tr>
			</tbody>
		</table>
		
	</body>
</html>